.header {
    width: 100%;
    margin-bottom: 50px;
}
.first {
    max-width: 100%;
    overflow-x: hidden;
}
.illustration {
    width: 480px;
    overflow-x: hidden;
}
.header:last-child {
    text-align: center;
}
.header:last-child h1 {
    padding: 0 50px;
    margin-top: 5px;
    color: var(--VeryDarkBlue);
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.6rem;
}
.header:last-child p {
    padding: 0 50px;
    margin:10px 0;
    color: var(--GrayishViolet);
    font-size: 14px;
}
.header:last-child button {
    border: none;
    padding: 10px 25px;
    background-color: var(--Cyan);
    border-radius: 50px;
    font-size: 16px;
    color: var(--pureWhite);
    font-weight: 700;
    outline: none;
}
@media screen and (min-width: 1440px) {
   .header {
       min-height: 50vh;
       display: grid;
       grid-template-areas: 'intro image';
       grid-template-columns: 1fr 1fr;
   }
   .first {
       grid-area: image;
   }
   .second {
       grid-area: intro;
   }
   .illustration{
       margin-top: 50px;
       width: 115%;
   }
   .header:last-child {
    text-align: left;
}
.second div {
    width:70%;
    margin-left: 20%;
    margin-top:16%;
}
.header:last-child button {
    border: none;
    padding: 10px 25px;
    background-color: var(--Cyan);
    border-radius: 50px;
    font-size: 16px;
    color: var(--pureWhite);
    margin-top: 20px;
}
.header:last-child h1 {
    color: var(--VeryDarkBlue);
    font-weight: 700;
    font-size: 4rem;
    padding: 0;
    margin-bottom: 0;
}
.header:last-child p {
    width: 85%;
    padding: 0 0;
    margin:10px 0;
    color: var(--GrayishViolet);
    font-size: 18px;
   
}
}
