.formDiv {
    position:relative;
}
.line {
    position: absolute;
    width:100%;
    height: 100px;
    background: var(--Gray);
    z-index: -1;
    bottom: 0;
}
.links {
    background: var(--Gray);
}

@media screen and (min-width: 1440px) {
    .line {
        height: 55px;
    }
}