
.aboutContent {
    min-height:100px;
    background:var(--Gray);
    margin: 0;

    /* padding: 100px; */
}
.aboutContent h1 {
    color: var(--VeryDarkBlue);
    padding-top: 50px;
    margin: 0;
    font-size: 1.5rem;
}
.aboutContent p {
    font-size: 1rem;
    color: #333;;
}

 .aboutContent .aboutHeaders {
    width: 80%;
    margin: 0 auto;
    text-align: center;
} 